.wl_wprsmp .form-control {
    min-height: 41px;
    background: #fff;
    box-shadow: none !important;
    border-color: #e3e3e3;
}
.wl_wprsmp .form-control:focus {
    border-color: #70c5c0;
}
.wl_wprsmp .form-control, .btn {        
    border-radius: 2px;
}
.wl_wprsmp .login-form {
    width: 350px;
    margin: 0 auto;
    padding: 100px 0 30px;		
}
.wl_wprsmp .login-form form {
    color: #7a7a7a;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;	
    position: relative;	
}
.wl_wprsmp .login-form h2 {
    font-size: 22px;
    margin: 0px 0 15px;
}
.wl_wprsmp .login-form .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 6;
    background: #70c5c0;
    padding: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.wl_wprsmp .login-form .avatar img {
    width: 100%;
    border-radius: 50%;
}	
.wl_wprsmp .login-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #70c5c0;
    border: none;
    margin-bottom: 20px;
}
.wl_wprsmp .login-form .btn:hover, .login-form .btn:focus {
    background: #50b8b3;
    outline: none !important;
}    
.wl_wprsmp .login-form a {
    color: #fff;
    text-decoration: underline;
}
.wl_wprsmp .login-form a:hover {
    text-decoration: none;
}
.wl_wprsmp .login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}
.wl_wprsmp .login-form form a:hover {
    text-decoration: underline;
}
.wl_wprsmp .d-flex.flex-wrap.justify-content-center.mt-2 {
    margin-top: 7px!important;
    font-size: 25px;
}
.wl_wprsmp .current_time_clock {
    margin-bottom: 16px;
}
.wl_wprsmp h3.text-center {
    font-size: 16px;
    text-transform: capitalize;
    padding: 0px;
    margin-bottom: 7%;
}
.wl_wprsmp .modal-content {
    margin-top: 19%;
}
.wl_wprsmp #wprsmp-login-portal h3 {
    font-size: 13px;
    padding: 2px;
}
.wl_wprsmp #wprsmp-login-portal {
    background-color: #343a3f9c;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 5%;
}