.wprsmp-lite-widget ul {
    margin-bottom: 0px;
}

.wprsmp-lite-widget li {
    color: #fff;
    padding: 8px;
    background: linear-gradient(to right, #da8cff, #9a55ff);
    border-radius: 4px;
    position: relative;
    box-shadow: 0px 3px 8.3px 0.7px rgba(173, 119, 243, 0.25);
}

.wprsmp-lite-widget li a {
    color: #fff;
    font-size: 14px;
}

.wprsmp-lite-widget li a span.count {
    float: right;
    font-weight: 500;
}

.wprsmp-lite-widget li a span.icon {
    margin-right: 5px;
}